# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore out directory
out/
#Ignore Idea directory
.idea/
*.iml
Ignore log files
.log
Class Files
*.class
Packages
*.jar
*.zip
*.tar.gz
.DS_Store
*.ldb
src/fsm/headers/*.*
